<!DOCTYPE html>
<html lang="en">
  <head>  
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width-device-width,
        initial-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script
      src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"
      defer
    ></script>
    <script src="/socket.io/socket.io.js" defer>
      //load all socket.io code to our frontend
    </script>
    <script src="script.js" defer></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <title>Teams Clone</title>
    <style></style>
  </head>

  <body>
    <div class="app">
      <div class="app__left">
        <div class="col1">
        <header><%- include('partials/header') %></header>
        <div class="app_videos">
          <div id="bunch-of-videos">

          </div>
        </div>
        <app_controls><%- include('partials/app_controls'); %></app_controls>
        
      </div>
      </div>
      <div class="app__right">
        <chat_window><%- include('partials/chat_window'); %></chat_window>
      </div>
    </div>
    <footer><%- include('partials/footer.ejs'); %></footer>
  </body>

  <script>
    const ROOM_ID = "<%= roomId %>"; //the room Id!
    const userinfo = document.createElement('div')
    const roominfo = document.createElement('div')
    userinfo.setAttribute('class', "meeting_info")
    roominfo.setAttribute('class', "meeting_info")
    
    var USER = prompt("Your Name")
    if(!USER)
    {
      USER = "Anonymous"
    }
    $(".header_info").append(`
    <div class="meeting_info"><u>Room ID</u>: ${ROOM_ID}</div>
    <div class="meeting_info"><u>User Name</u>: ${USER}</div>
    `)
    // roominfo.innerHTML += `Room ID: ${ROOM_ID}`;
    // userinfo.innerHTML += `Username: ${USER}`;
    // document.getElementsByClassName("header_info")[0].append(roominfo)
    document.getElementsByClassName("header_info")[0].append(userinfo)
    var  node = document.getElementById("chat_username")
    node.innerHTML = USER;
    console.log(node)
    localStorage.setItem('username', USER)

  </script>
</html>
